@import '../variables';

.pagination {
  display: flex;
  justify-content: center;
  
  margin-top: 30px;
  margin-bottom: 30px;
  
  .btn {
    color: #FFF;
    background-color: lighten($color-accent, 5%);
    
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border: 0px;

    width: 30px;
    height: 40px;

    &.pagination-selected {
      background-color: darken($color-accent, 5%);
    }

    &.prev-next {
      width: 80px;
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  
}