@import './variables';

.main {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;

  @if $debug {
    border: 2px solid orchid;
  }
}

.divider {
  border-bottom: 2px dotted $color-accent;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30px;
}

.headline {
  display: flex;
  justify-content: center;

  @if $debug {
    border: 2px solid cyan;
  }
}

.search {
  height: 20%;
  display: flex;
  justify-content: center;

  margin-bottom: 30px;

  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    @if $debug {
      border: 2px solid red;
    }
  }
  .range {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    border-radius: 5px;

    .range-text {
      font-size: 0.8em;
      display: flex;
      justify-content: center;
    }
    @if $debug {
      border: 2px solid yellow;
    }
  }
  @if $debug {
    border: 2px solid blue;
  }
}


.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @if $debug {
    border: 2px solid chartreuse;
  }
}